<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <!-- 定义变量
  projectName 项目名称
  logDirectory 文件路径
  -->
 <!-- <variable name="projectName" value="test"/>-->

  <variable name="logDirectory" value="Logs/"/>
  <targets>
    <!-- 定义输出模板：
        type="File"：这个记录方式为文件类型
        fileName="${logDirectory}/All.log"：表示输出到文件All.log中
        layout="..."：输出文件中错误的显示格式
        ${logDirectory}：为上述定义的路径
        ${longdate}：输出长日期 yyyy-MM-dd HH:mm:ss.ffff(例:2013-01-31 14:49:21.2120)
        ${level}：错误等级(由低到高为Trace，Debug，Info，Warn，Error，Fatal)
        ${newline}：输出 新的一行
        ${stacktrace}：输出 堆栈信息
        ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}：输出 命名空间.类名.方法名(文件路径:行号)
        ${message}：输出错误信息-->
    <!--<target xsi:type="File" name="logfiles" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} ${level} ${message} ${newline}" />-->
    <target xsi:type="File" name="logfiles" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} ${level} ${message} ${stacktrace} ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True:skipFrames=2}${newline}" />
  </targets>
  <rules>
    <!-- 定义输出日志：
        name="*"：记录所有信息
        minlevel="Trace"：记录的最低错误级别为Trace
        writeTo="logfiles"：日志写入logfiles的target中-->
    <logger name="*" minlevel="Trace" writeTo="logfiles" />
  </rules>
</nlog>